@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .nav__item {
    position: relative;
    padding-bottom: theme(spacing.1);
    color: theme('colors.gray.600');
  }
  .nav__item::before {
    position: absolute;
    left: 0;
    width: 0;
    bottom: 0;
    height: theme('spacing[0.5]');
    background-image: theme('backgroundImage.logo-gradient');
    content: ' ';
    transition: width 1s ease-in linear;
  }

  .nav__item.active,  .nav__item:hover {
    color: theme('colors.white');
  }

  .nav__item:hover::before, .nav__item.active::before {
    display: block;
    width: 100%;
  }

  .max_lines_2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2; 
    -webkit-box-orient: vertical;
  }

  input[type="range"].range {
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
  }

  input[type=range].range::-webkit-slider-runnable-track {
    height: 0;
    border: none;
    border-radius: 3px;
    background-color: transparent;
  }

  input[type=range].range::-moz-range-track {
    height: 0;
    border: none;
    border-radius: 3px;
    background-color: transparent;
  }

  input[type=range].range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: theme('borderRadius.full');
    background-color: theme('colors.junky-yellow');
    cursor: pointer;
  }

  input[type=range].range::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: theme('borderRadius.full');
    background-color: theme('colors.junky-yellow');
  }

}
